/* color and padding of header*/
.header {
	padding: 30px;
	background-color: white;
}

/* My name, centered formatted*/
.header h1{
	padding: 30px;
	text-align: center;
	font-variant: small-caps;
	font: 50px "Savoye LET";
	color: #FE3562;
	border: 5px solid #433D3E;
	max-width: 100%; 
	height: auto;
}

/* three adjectives below name*/

.header h2 {
	color:#E7A07F;
	font: small-caps 15px Skia;
	text-align: center;
	
}

/* Creates a smooth scrolling expierience with the sticky nav in place*/
.nav-wrapper {
	height: 70px;
	background-color: rgba(255, 255, 255, 0.93);
	overflow: visible;
}

/*color and overflow*/

#navbar {
	height: 70px;
	overflow: visible;
	background-color: rgba(255, 255, 255, 0.93);
	color: rgba(255, 255, 255, 0.03);
}

/* Makes the font of all nav bar items */
#navbar ul {
	list-style-type: none;
	padding: 14px 16px;
	font: 17px Skia;
	/*font-variant: small-caps;*/
}

/* positions the nav bar words next to each other*/
#navbar li {
    float: left;
	margin-left: 21%;
}

/* makes entire block click-able and removes hypertext and changes color*/
#navbar a {
    display: block;
    padding: 8px;
    text-decoration: none;
	color: #433D3E;
}

/* when nav items are hovered over*/

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* when on the active page, the indicator*/

#navbar a.active {
	border-bottom-style: solid;
	border-bottom-color: #FE3562;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}


/* create the nav bar to stick to the top the entire width of screen*/

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

/* padding in between sticky element and content*/

.sticky + .content {
	padding-top: 60px;	
}



/* all container headings have same style*/
.container h2 {
	font: small-caps bold 25px Skia;
	color: #FEFBFB;
}

/* qualities all containers would have as default*/
.container {
	font-family: Skia;
	padding: 10px;
	text-align: center;
	margin: 50px;
	max-width: 100%; 
	height: auto;
}


/*Intro section is set to default settings*/
#intro {
	background-color: #CFBCB0 ;
}

#intro .container p {
	width: 500px;
	float: right;
	text-align: center;
	padding-top: 20px;
	padding-left: 30px;
	color: #433D3E;
	font-size: 20px;
}

#intro .container  img{
	float: right;
	border-radius: 100%;
	border: 1px solid #FE3562;
}

/* Adjust so that image and text are paired together*/
#imagetext {
	display: inline-block;
	box-sizing: border-box;
}

/*#intro .container .circle {
	display: inline-block;
}*/


#interests .container {
	border-style: solid;
	border-color: #433D3E;
	border-right-style: none;
	border-left-style: none;
}

#interests ul li {
	display: block;
	padding: 14px 16px;
	list-style-type: none;
	text-align: center;
	float: left;
	border: 1px solid #FE3562;
	border-radius: 10%;
}

#interests h2 {
	color: #433D3E;
	font-weight: bold;
}

#skills {
	background-color: #CFBCB0 ;
}


#firstproject {
	background-color: #CFBCB0 ;	
}

#firstproject h2{
	font-size: 30px;
	color: #433D3E;
}

#firstproject h3 {
	color: #FE3562;
	font-variant: normal;
}


#firstproject p {
	text-align: center;
	color: #433D3E;
	
}

#firstproject p a {
	text-align: center;
	color: #FE3562;
	
	
}

/* */

#contact {
	background-color: #CFBCB0 ;
}

#contact ul{
	list-style-type: none;
	padding: 14px 16px;
	font: 17px Skia;
}
#contact a {
    display: block;
    padding: 8px;
    text-decoration: none;
	color: #433D3E;
}

body {
  margin: 0;}

/* padding of overall content*/

.content {
	
}

	
