.header h2{
	padding: 30px;
	text-align: center;
	font-variant: small-caps;
	font: 30px Skia;
	color: white;
	border-style: solid;
}

.header {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.68)
}

#navbar {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.68)
}

#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font: 17px Skia;
	font-variant: small-caps;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	background-color: rgba(21, 21, 23, 0.8);
	color: white;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.sticky + .content {
	padding-top: 60px;	
}

body {
  margin: 0;
}
	/*body h1 {
		font-variant: small-caps;
		background: url(face.jpg) no-repeat;
		width: 100%;
		height: 400px;
		text-align: center;
	}
	
	body {
		padding-left: 11em;
		color: #ffffff;
		background-color: #a8b6ea
	}	*/
	
